 h1{
    text-align: center;
    display: inline-block;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 18px;
}
#info-headers{
    text-align: center;
}
nav{
    border: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#nav-head{
    display: flex;
}
.flex-list {
    display: flex;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    gap: 20px;
}

