 h1{
    text-align: center;
    display: inline-block;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 18px;
}
#info-headers{
    text-align: center;
}
nav{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    padding-right: 10%;
}
#nav-head{
    display: flex;
}
.flex-list {
    display: flex;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    gap: 20px;
}
footer > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    gap: 20px;
}

